{% extends "admin/change_form.html" %}{% load i18n %}{% load url from future %}

{% block object-tools-items %}
<li><a href="history/" class="historylink">{% trans "History" %}</a></li>
{% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" {% if preview_error %}onclick="alert('{{ preview_error|escapejs }}'); return false;"{% endif %} class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}


{% block content %}
  {{ block.super }}
  {% include "admin/fluent_blogs/entry/change_form_navigation.html" %}
{% endblock %}