{% extends "admin/change_form.html" %}{% load i18n %}{% load url from future %}

{% block object-tools-items %}
<li><a href="history/" class="historylink">{% trans "History" %}</a></li>
{% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" {% if preview_error %}onclick="alert('{{ preview_error|escapejs }}'); return false;"{% endif %} class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
{% endblock %}


{% block content %}{{ block.super }}
  {% if original %}
    {% with next_entry=original.next_entry previous_entry=original.previous_entry %}
        <p style="clear: both; padding-top: 1em">
          {% if previous_entry %}<a style="float: left;" href="{% url 'admin:fluent_blogs_entry_change' previous_entry.pk %}" title="{{ previous_entry.title }}">&larr; {% trans "previous entry" %}</a>{% endif %}
          {% if next_entry %}<a style="float: right;" href="{% url 'admin:fluent_blogs_entry_change' next_entry.pk %}" title="{{ next_entry.title }}">{% trans "next entry" %} &rarr;</a>{% endif %}
        </p>
    {% endwith %}
  {% endif %}
{% endblock %}