# The django-fluent-contents package has some optional dependencies,
# which don't be installed by default by setup.py
# Instead, this requirements file contains all required elements for the demo:

# Base apps
Django >= 1.11.4
Pillow >= 4.2.1
pytz >= 2017.2

# Requirements for fluent-blogs
django-fluent-contents[text,code,markup,oembeditem] >= 2.0
django-fluent-utils >= 2.0
django-parler >= 1.9.1
django-slug-preview >= 1.0.2
django-tag-parser >= 3.1

# Optional requirements
django-categories-i18n >= 1.1
django-taggit >= 0.22.1
django-taggit-autosuggest >= 0.3.1
django-tinymce >= 2.6.0

# For other examples:
django-mptt >= 0.9.0
django-fluent-comments >= 2.0
django-fluent-pages >= 2.0

# These dependencies are all implied by the [text,code,markup,oembeditem,formdesignerlink] construct:
## For code plugin
#Pygments >= 2.1.3

## For disquswidgets plugin
#django-disqus>=0.4.1

## For formdesignerlink plugin
#-e git+https://github.com/philomat/django-form-designer.git#egg=django_form_designer-dev

## For markup plugin
#docutils >= 0.12
#Markdown >= 2.6.6
#textile >= 2.3.2

## For oembeditem plugin
#micawber >= 0.3.3

## For text plugin
#django-wysiwyg >= 0.7.1
