<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="{% block meta-keywords %}{% endblock %}" />
    <meta name="description" content="{% block meta-description %}{% endblock %}" />
    <title>{% block meta-title %}{% block title %}{% endblock %} - No base template{% endblock %}</title>

    <meta property="og:type" content="{% block og-type %}website{% endblock %}" />
    <meta property="og:image" content="http://{{ request.get_host }}{% block og-image %}{{ STATIC_URL }}logo.jpg{% endblock %}" />
    <meta property="og:description" content="{% block og-description %}{% endblock %}" />

    {% block link %}{% endblock %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block script %}{% endblock %}
</head>
<body>

{% block staff_toolbar %}{% endblock %}{# fix template extends of old project templates #}

<h1>No base template is set for django-fluent-blogs</h1>

<p>To configure the blog base template, either:
<ul>
    <li>create a template named: <kbd>fluent_blogs/base.html</kbd>.</li>
    <li>set <kbd>FLUENT_BLOGS_BASE_TEMPLATE</kbd> to the desired base template file.</li>
</ul>
<p>The template needs to provide the following blocks:</p>
<table>
    <tr><td><kbd>content</kbd></td><td>The block for the main content.</td></tr>
    <tr><td><kbd>title</kbd></td><td>The contents for the <code>&lt;title&gt;</code> tag.</td></tr>
    <tr><td><kbd>link</kbd></td><td>The placeholder for <code>&lt;link&gt;</code> tags for RSS feeds and CSS.</td></tr>
    <tr><td><kbd>script</kbd></td><td>The placeholder for <code>&lt;script&gt;</code> tags.</td></tr>
    <tr><td><kbd>meta-title</kbd></td><td>The content for the <code>&lt;title&gt;</code> tag, completely overriding the default title.</td></tr>
    <tr><td><kbd>meta-description</kbd></td><td>The content for the <code>&lt;meta name="description"&gt;</code> tag.</td></tr>
    <tr><td><kbd>meta-keywords</kbd></td><td>The content for the <code>&lt;meta name="keywords"&gt;</code> tag.</td></tr>
    <tr><td><kbd>og-type</kbd></td><td>The content for the <code>&lt;meta property="og:type"&gt;</code> tag for Facebook (optional)</td></tr>
    <tr><td><kbd>og-description</kbd></td><td>The content for the <code>&lt;meta property="og:type"&gt;</code> tag for Facebook (optional)</td></tr>
</table>

<hr/>
<p>The blog contents is displayed below:</p>

{% block content %}{% endblock %}

</body>
</html>
