{% extends "fluent_blogs/base.html" %}
{% load i18n %}

{% block meta-description %}{% trans "Latest entries" %}{% endblock %}

{% block title %}
  {% trans "Latest entries" %}
  {% if category %}| {% blocktrans with category=category %}Category {{ category }}{% endblocktrans %}{% endif %}
  {% if tag %}| {% blocktrans with tag=tag %}Tag {{ tag }}{% endblocktrans %}{% endif %}
  {% if author %}| {% blocktrans with author=author %}Author {{ author }}{% endblocktrans %}{% endif %}
  {% if page_obj and page_obj.number != 1 %} | {% blocktrans with number=page_obj.number %}Page {{ number }}{% endblocktrans %}{% endif %}
{% endblock %}

{% block content %}
  {% block content_title %}
    {% if category %}<h1>{{ category }}</h1>{% endif %}
    {% if tag %}<h1>{% blocktrans with tag=tag %}Tag {{ tag }}{% endblocktrans %}</h1>{% endif %}
    {% if author %}<h1>{% blocktrans with author.username as author %}Entries by {{ author }}{% endblocktrans %}</h1>{% endif %}

    {% if category and category.description %}
      <p>{{ category.description|striptags|safe }}</p>
    {% endif %}
  {% endblock %}


  {% block object_list %}
    {% for object in object_list %}
      <article id="blog-entry-{{ object.pk }}" class="blog-entry">
        {% with object.html_content|truncatewords_html:100|safe as object_content %}
          {% include "fluent_blogs/entry_archive/item.html" %}
        {% endwith %}
      </article>
      <hr />
    {% empty %}
      {% include "fluent_blogs/entry_archive/empty.html" %}
    {% endfor %}
  {% endblock %}

  {% block pagination %}
    {% if is_paginated %}
      {% include "fluent_blogs/entry_archive/pagination.html" %}
    {% endif %}
  {% endblock %}
{% endblock %}
