{% extends "fluent_blogs/base.html" %}
{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  {% with object.previous_entry as previous_entry %}{% if previous_entry %}
    <link rel="prev" title="{{ previous_entry.title }}" href="{{ previous_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with object.next_entry as next_entry %}{% if next_entry %}
    <link rel="next" title="{{ next_entry.title }}" href="{{ next_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% if object.short_url %}
    <link rel="shortlink" href="{{ object.short_url }}" />
  {% endif %}
  <link rel="canonical" href="{{ object.get_absolute_url }}" />

  {% comment %}
  {% with object.creation_date|date:"Y" as year %}
    {% with object.creation_date|date:"m" as month %}
      {% with object.creation_date|date:"d" as day %}
        <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'"
              href="{% url zinnia_entry_discussion_feed year month day object.slug %}" />
        <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'"
              href="{% url zinnia_entry_comment_feed year month day object.slug %}" />
        <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'"
              href="{% url zinnia_entry_pingback_feed year month day object.slug %}" />
        <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'"
              href="{% url zinnia_entry_trackback_feed year month day object.slug %}" />
      {% endwith %}
    {% endwith %}
  {% endwith %}
  {% endcomment %}
{% endblock %}

{% block content %}
  <article id="entry-{{ object.pk }}" class="blog-entry">
    {% include "fluent_blogs/entry_detail/contents.html" %}
  </article>

  {% include "fluent_blogs/entry_detail/widgets.html" %}
  {% include "fluent_blogs/entry_detail/comments.html" %}
{% endblock %}
