{% extends "fluent_blogs/entry_archive.html" %}
{% load i18n fluent_blogs_tags %}

{% block meta-description %}{% blocktrans with year=year|format_year %}Archives of {{ year }}{% endblocktrans %}{% endblock %}

{% block title %}{% blocktrans with year=year|format_year %}Archives of {{ year }}{% endblocktrans %}{% endblock %}

{% block content_title %}<h1>{% blocktrans with year=year|format_year %}Archives of {{ year }}{% endblocktrans %}</h1>{% endblock %}

{% block content %}
  {{ block.super }}

  <h2>{% trans "Monthly archives" %}</h2>
  <ul>
    {% for date in date_list %}
      <li>
        <a href="./{{ date|date:"m" }}/" rel="archives">{{ date|date:"YEAR_MONTH_FORMAT" }}</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
