{% load i18n comments %}
<div id="comments">
  <h3>{% trans "Comments" %}</h3>

  {% with object.comments as comment_list %}
    {% if comment_list.count %}
      {% render_comment_list for object %}

      {% if not object.comments_are_open %}
        <p>{% trans "Comments are closed." %}</p>
      {% endif %}
    {% else %}
      {% if object.comments_are_open %}
        <p>{% trans "No comments yet." %}</p>
      {% else %}
        <p>{% trans "Comments are closed." %}</p>
      {% endif %}
    {% endif %}
  {% endwith %}
</div>

{% if object.comments_are_open %}
  <div class="commentForm">
    {% render_comment_form for object %}
  </div>
{% endif %}
