{% load i18n comments %}
{% with comment_list=object.comments %}{% with comment_count=comment_list.count %}

  <div id="comments-wrapper">
    {% if comment_count %}
      <h3 class="has-comments-title">{% blocktrans with comment_count=comment_count entry_title=object.title %}{{ comment_count }} comments to {{ entry_title }}{% endblocktrans %}</h3>

      {% render_comment_list for object %}

      {% if not object.comments_are_open %}
        <p class="comments-closed">{% trans "Comments are closed." %}</p>
      {% endif %}
    {% else %}
      {% if object.comments_are_open %}
        <h3 class="no-comments-title">{% trans "Leave a reply" %}</h3>
        {% render_comment_list for object %}{# make sure the div is visible in the page #}
      {% endif %}
    {% endif %}
  </div>

  {% if object.comments_are_open %}
    <div id="comments-form-wrapper">
      {% render_comment_form for object %}
    </div>
  {% endif %}

{% endwith %}{% endwith %}
