{% load i18n comments %}
<div id="comments">
  {% with object.comments as comment_list %}
    {% if comment_list.count %}
      <h3 class="has-comments-title">{% trans "Comments" %}</h3>

      {% render_comment_list for object %}

      {% if not object.comments_are_open %}
        <p>{% trans "Comments are closed." %}</p>
      {% endif %}
    {% else %}
      <h3 class="no-comments-title">{% trans "Comments" %}</h3>

      {% if object.comments_are_open %}
        <p>
          {% trans "No comments yet, be first to comment!" %}
        </p>
      {% else %}
        <p>{% trans "Comments are closed." %}</p>
      {% endif %}
    {% endif %}
  {% endwith %}
</div>

{% if object.comments_are_open %}
  <div class="commentForm">
    {% render_comment_form for object %}
  </div>
{% endif %}
