{% load i18n %}
<div class="entry-widgets">
  {% with object.next_entry as next_entry %}
    {% if next_entry %}
      <div class="entry-next">
        <h3>{% trans "Next entry" %}</h3>
        <ul>
          <li>
            <a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" rel="next">
              {{ next_entry.title }}
            </a>
          </li>
        </ul>
      </div>
    {% endif %}
  {% endwith %}
  {% with object.previous_entry as previous_entry %}
    {% if previous_entry %}
      <div class="entry-previous">
        <h3>{% trans "Previous entry" %}</h3>
        <ul>
          <li>
            <a href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" rel="prev">
              {{ previous_entry.title }}
            </a>
          </li>
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  {% if object.related_published %}
    <div class="entry-related">
      <h3>{% trans "Related entries" %}</h3>
      <ul>
        {% for entry in object.related_published %}
          <li>
            <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>
